*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content:space-evenly ;
  border bottom: ;
  font-size:35px ;
  border-radius: 25px;
  text-align: justify;
}

 li {
  display: flex;

}
header nav {
    background-color: rgb(21, 103, 102);
}
a {
background-color:;
color:rgb(4, 0, 0) ;


}
a:hover {

    color: rgba(207, 120, 13, 0.678);
}

article {
background-color: rgba(17, 48, 94, 0.613);
font-size: 5rem;
padding: 25px;

}

footer {
justify-content: center;
text-align: justify;

}

.inlineFrameExample {
display: flex;
flex-direction: row;
align-items: right;

}